/*!
* General
*/
.file-manager {
    a {
        cursor: pointer;
    }
}
#actions {
    left: 19%;
    a {
        margin-right: 0.5rem;
        cursor: pointer;
    }
}
#nav-buttons {
    .dropdown-menu {
        min-width: 14rem;
    }
}
#uploadForm {
    border-style: dashed;
}
#multi_selection_toggle {
    color: rgba($color: #fff, $alpha: 0.75);
    &:hover {
        color: #fff;
    }
}
.nav {
    .sub-item {
        padding-left: 1rem;
    }
}
@media screen and (min-width: 992px) {
    .invisible-lg {
        visibility: hidden;
    }
}

@media screen and (max-width: 991px) {
    #tree {
        position: absolute;
        z-index: 999;
        left: 0;
        transform: translateX(-100%);
        transition: 1s transform;
        &.in {
            transform: translateX(0);
        }
    }
}
#empty {
    height: 60vh;
    color: #333844;
    &:not(.d-none) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    & > i {
        font-size: 10rem;
    }
}
/*!
* Items
*/
time {
    font-size: 0.9rem;
}
#pagination {
    & > ul.pagination {
        justify-content: center;
    }
    &.preserve_actions_space {
        padding-top: 1em;
        padding-bottom: 4rem; /* preserve space for main actions */
    }
}
.square {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    & > div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    & > i {
        color: #333844;
    }
    &.selected {
        padding: 1px;
    }
}
.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: center;
    a {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
    }
    .square {
        border: 1px solid rgb(221, 221, 221);
        width: 135px;
        height: 135px;
        & > i {
            padding: 20px;
            font-size: 80px;
        }
        &.selected {
            border: 4px solid #75c7c3;
        }
    }
    .item_name {
        border: 1px solid rgb(221, 221, 221);
        border-top: none;
        margin-top: -1px;
        padding: 10px;
        text-align: center;
        max-width: calc(135px);
    }
    time {
        display: none;
    }
}
.list {
    a {
        border-top: 1px solid rgb(221, 221, 221);
        padding: 5px;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        &:last-child {
            border-bottom: 1px solid rgb(221, 221, 221);
        }
    }
    .square {
        margin-right: 1rem;
        width: 70px;
        height: 70px;
        & > i {
            padding: 10px;
            font-size: 50px;
        }
        &.selected {
            border: 5px solid #75c7c3;
        }
    }
    .item_name {
        font-size: 1.25rem;
        padding: 5px 0 5px;
    }
}
/*!
* Floating action buttons
*/
.fab-wrapper {
    margin: 1.5rem;
    right: 0;
    bottom: 0;
    position: fixed;
    .fab-button {
        position: relative;
        background-color: #333844;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    }
    .fab-toggle {
        z-index: 1;
        i {
            -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
            -webkit-transition: -webkit-transform 350ms;
            transition: transform 350ms;
        }
    }
    &.fab-expand {
        .fab-toggle {
            i {
                -webkit-transform: scale(1) rotate(-225deg);
                transform: scale(1) rotate(-225deg);
                -webkit-transition: -webkit-transform 350ms;
                transition: transform 350ms;
            }
        }
        .fab-action {
            margin-bottom: 1rem;
            opacity: 1;
            transition: margin-bottom 350ms, opacity 350ms;
        }
    }
    .fab-action {
        z-index: -1;
        margin-bottom: -3.5rem;
        opacity: 0;
        transition: margin-bottom 350ms, opacity 350ms;
        &:before {
            position: absolute;
            right: 4rem;
            padding: 0.15rem 0.75rem;
            border-radius: 0.25rem;
            background-color: rgba(0, 0, 0, 0.4);
            color: rgba(255, 255, 255, 0.8);
            text-align: right;
            font-size: 0.9rem;
            white-space: nowrap;
            content: attr(data-label);
        }
    }
}
/*!
* carousel
*/
.carousel-image {
    height: 50vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-label,
.carousel-label:hover {
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent 10px, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    padding: 40px 20px 30px;
    width: 100%;
    color: white;
    word-break: break-word;
    text-align: center;
}
.carousel-control-background {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 10px #666;
    background-color: #666;
}
/*!
* Mime icon generator overwrite
*/
.grid {
    .mime-icon {
        &:before {
            top: calc(45% - 1rem);
            font-size: 2rem;
        }
    }
}
.list {
    .mime-icon {
        .ico {
            &:before {
                top: calc(45% - 0.5rem);
                font-size: 1rem;
            }
        }
    }
}
.mime-icon {
    .ico {
        height: 100%;
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
}
